<h1>Create a Team and Heroes!</h1>
<p>Team Name: <%= params[:team][:name] %></p>
<p>Team Name: <%= params[:team][:motto] %></p>
<h2> Hero 1 </h2>
<p>Hero's Name: <%=params[:member1_name] %></p>
<p>Hero's Power: <%=params[:member1_power] %></p>
<p>Hero's Biography: <%=params[:member1_bio] %></p>
<h2> Hero 2 </h2>
<p>Hero's Name: <%=params[:member2_name] %></p>
<p>Hero's Power: <%=params[:member2_power] %></p>
<p>Hero's Biography: <%=params[:member2_bio] %></p>
<h2> Hero 3 </h2>
<p>Hero's Name: <%=params[:member3_name] %></p>
<p>Hero's Power: <%=params[:member3_power] %></p>
<p>Hero's Biography: <%=params[:member3_bio] %></p>
